        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>{{ site.data.profile.sections.posts }}</h2>
              <div style="margin-top:1em;"></div>
              
              <ul style="margin:0; padding-left:20px; line-height: 1.4;">
              {% for topic in site.data.profile.post_topics %}
                {% assign count = 0 %}
                {% for post in site.posts %}
                  {% if post.categories contains topic.category %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
                <li style="margin-bottom:0.3em; font-size:1.1em;">
                  <strong><a href="{{ site.baseurl }}/posts/#{{ topic.category }}">{{ topic.label }}</a></strong>
                  &nbsp;<span style="color:#888; font-size:0.85em;">({{ count }} posts)</span>
                </li>
              {% endfor %}
              </ul>
              
            </td>
          </tr>
        </table>
        <br>
        <br>
