        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <p class="name" style="text-align: center;">
                {{ site.data.profile.name }}
              </p>
              {% for para in site.data.profile.bio %}
              <p>{{ para }}</p>
              {% endfor %}
              <p style="text-align:center">
                <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.email }}">Email</a> &nbsp;/&nbsp;
                {% if site.data.profile.links.scholar != "" %}
                <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.scholar }}">Google Scholar</a> &nbsp;/&nbsp;
                {% endif %}
                <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.github }}">GitHub</a> &nbsp;/&nbsp;
                <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.linkedin }}">LinkedIn</a>
                {% if site.data.profile.links.twitter != "" %}
                &nbsp;/&nbsp; <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.twitter }}">Twitter</a>
                {% endif %}
                &nbsp;/&nbsp; <a rel="noopener noreferrer" target="_blank" href="{{ site.baseurl }}/{{ site.data.profile.cv }}">CV</a>
              </p>
            </td>
            <td style="padding:2.5%;width:25%;max-width:25%;vertical-align:middle">
              <a href="{{ site.data.profile.profile_image }}">
                <img style="width:100%;max-width:100%;object-fit:cover;border-radius:50%;" alt="profile photo" src="{{ site.data.profile.profile_image }}">
              </a>
            </td>
          </tr>
        </table>
