        <div class="profile-container">
          <div class="profile-image">
            <a href="{{ site.data.profile.profile_image }}">
              <img alt="profile photo" src="{{ site.data.profile.profile_image }}">
            </a>
          </div>
          <div class="profile-text">
            <p class="name">
              {{ site.data.profile.name }}
            </p>
            <div class="profile-bio">
              {% for para in site.data.profile.bio %}
              <p>{{ para }}</p>
              {% endfor %}
            </div>
            <p class="profile-links">
              <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.email }}">Email</a> &nbsp;/&nbsp;
              {% if site.data.profile.links.scholar != "" %}
              <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.scholar }}">Google Scholar</a> &nbsp;/&nbsp;
              {% endif %}
              <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.github }}">GitHub</a> &nbsp;/&nbsp;
              <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.linkedin }}">LinkedIn</a>
              {% if site.data.profile.links.twitter != "" %}
              &nbsp;/&nbsp; <a rel="noopener noreferrer" target="_blank" href="{{ site.data.profile.links.twitter }}">Twitter</a>
              {% endif %}
              &nbsp;/&nbsp; <a rel="noopener noreferrer" target="_blank" href="{{ site.baseurl }}/{{ site.data.profile.cv }}">CV</a>
            </p>
          </div>
        </div>
