        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>{{ site.data.profile.sections.publications }}</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'publications' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{ site.baseurl }}/tn{{post.image}}" alt="publication image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <span class="papertitle">{{post.title}}</span>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.projectpage %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.projectpage}}">project page</a> /
              {% endif %}
              {% if post.arxiv %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a rel="noopener noreferrer" target="_blank" href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
