        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>{{ site.data.profile.research_goal.title }}</h2>
              {% for para in site.data.profile.research_goal.paragraphs %}
              <p>{{ para }}</p>
              {% endfor %}
              {% if site.data.profile.research_goal.references %}
              <p style="font-size:small;color:#666;">
                {% for ref in site.data.profile.research_goal.references %}
                [{{ forloop.index }}] <a rel="noopener noreferrer" target="_blank" href="{{ ref.url }}">{{ ref.title }}</a>{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </p>
              {% endif %}
            </td>
          </tr>
        </table>
