        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>{{ site.data.profile.research_goal.title }}</h2>
              {% for para in site.data.profile.research_goal.paragraphs %}
              <p>{{ para }}</p>
              {% endfor %}
              
              {% if site.data.profile.research_goal.bullets %}
              <ul>
                {% for item in site.data.profile.research_goal.bullets %}
                <li style="margin-bottom:0.5em;">{{ item }}</li>
                {% endfor %}
              </ul>
              {% endif %}

              {% if site.data.profile.research_goal.closing %}
              {% for para in site.data.profile.research_goal.closing %}
              <p>{{ para }}</p>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
        </table>
