<!DOCTYPE HTML>
<html lang="en">

{% include head.html %}

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        
        {% include profile.html %}
        {% include news.html %}
        {% include research_goal.html %}
        {% include publications.html %}
        {% include projects.html %}
        {%- comment -%} {% include posts.html %} {%- endcomment -%}

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a rel="noopener noreferrer" target="_blank" style="font-size:small;" href="{{ site.data.profile.footer.url }}">{{ site.data.profile.footer.text }}</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
