<!DOCTYPE HTML>
<html lang="en">

{% include head.html %}

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:2.5%">

        <p><a href="{{ site.baseurl }}/">← Back</a></p>

        <article>
          <h1>{{ page.title }}</h1>
          <p style="font-size:small; color:gray;">{{ page.date | date: "%B %d, %Y" }}</p>
          <hr>
          {{ content }}
        </article>

        <br>
        <p style="text-align:center;font-size:small;">
          Design and source code from <a style="font-size:small;" href="{{ site.data.profile.footer.url }}">{{ site.data.profile.footer.text }}</a>
        </p>

      </td>
    </tr>
  </table>
</body>

</html>
